{{define "month"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Month Sales</title>
</head>
<body>
<h3 style="color: blueviolet"><code>Current monthly sales results: {{.}}</code></h3>
</body>
</html>
{{end}}